.sub_text {
    font-size: 200%;
    color: #22316c;
    font-family: Bebas Neue;
  }
  .wrap_details {
    margin: 1%;
  }
  
  .prof_details {
    margin-top: 5%;
  }
  .profile_image {
    border-radius: 4px;
  }
  .button-custom {
    color: black;
    width: 400px;
  }
  .icon-edit {
    margin-left: 10%;
    position: relative;
    bottom: 15px;
  }
  .icon-edit:hover {
    color: #fbb034;
    cursor: pointer;
  }
  .edit-btn{
    width: 150px;
    background-color: #22316c;
    color: white;
    padding: 3%;
  }
  .edit-btn:hover{
    background-color: #fff022e1;
    color: black;
  }
  .padding-custom label{
    font-family: Quicksand;
    font-size: 120%;
    letter-spacing: 0.75px;
    margin-top: 3%;
    text-align: left !important;
}.padding-custom{
  margin-bottom: 5%;
  height: 110vh;
}
.form-check-input{
  width: 50px;
  
}
.label-style{
  font-size: 15px;
}
.dropdown-style{
  margin-right: 7% !important ;
}